body {
  margin:0;font-family:Arial;
  font-family: MyCustomFont !important;
}

.top {
  overflow: hidden;
  background-color: #0099CC;
}
.top img{
  height: 70px;
  padding: 5px 50px;
  width: 100px;
}
.top a {
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
}
@media screen and (max-width: 100px) {
  .top.responsive {position: relative;}
  .top.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 

#register{
  padding-top: 20px;
}
#register a{
  font-size: 15px;
}
#register button{
  background-color: #33b5e5;
  color: #ffffff;
  font-size: 20px;
  opacity: 0.9;
  cursor: pointer;
  border: none;
}
#login-form button{
  background-color: #33b5e5;
  color: #ffffff;
  font-size: 20px;
  opacity: 0.9;
  cursor: pointer;
  border: none;
}
#login-form{
   padding-top: 20px;
}
#login-form a{
  font-size: 15px;
}
#register-form  button{
  background-color: #33b5e5;
  color: #ffffff;
  font-size: 20px;
  opacity: 0.9;
  cursor: pointer;
  border: none;
}
#register-form {
 padding-top: 20px;
}


form {
  margin:0 auto;
  width:300px
}
input {
  margin-bottom:16px;
  padding:15px;
  width: 100%;
  border:1px solid #CCC
}
button {
  padding:10px
}

label {
  cursor:pointer
}
#form-switch {
  display:none
}
#register-form {
  display:none
}
#form-switch:checked~#register-form {
  display:block
}
#form-switch:checked~#login-form {
  display:none
} 

.dropdown {
    float: right;
    padding-right: 30px;
}
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 13px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #3F729B;
    color: #ffffff;
        padding: 3px 20px;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.contianer{
padding-left: 5em;
padding-right: 5em;
}


.new_delivery{
    width: 420px;
    border: 0px solid #F36;
    margin-left: 33px;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    padding: 30px;
        padding-bottom: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding-bottom: 9px;
    padding-top: 0px;
    margin-bottom: 98px;
    top: 90px;
    left: 30px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    position: fixed;
    z-index: 400;
    padding-right: 50px;
    padding-bottom: 2em;

}

.new_delivery1{
    width: 520px;
    border: 0px solid #F36;
    margin-left: 50px;
    /* margin-top: 50px; */
    margin-bottom: 100px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    padding: 30px;
    padding-bottom: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding-bottom: 9px;
    padding-top: 0px;
    margin-bottom: 98px;
    top: 55px;
    left: 30px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    position: fixed;
    padding-right: 50px;
    padding-bottom: 7em;
    height: 500px;

}

.new_delivery button{
    background-color: #1782C5;
    padding: 9px !important;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    width: 330px;
    margin-top: 0px;
    font-size: 20px;
    transition-delay: 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

@media screen and (max-width: 100px) {
  .new_delivery {position: relative;}
  .new_delivery input{
    position: absolute;
    right: 0;
    top: 0;
  }
  .new_delivery {
    float: none;
    display: block;
    text-align: left;
  }
} 

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


#myInput {
   
    background-position: 10px 12px; 
    background-repeat: no-repeat;
    width: 94%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px; 
}

#NewTable {
  
    width: 100%; 
    border: 1px solid #ddd; 
    font-size: 18px;
}

#NewTable th, #NewTable td {
    text-align: left;
    padding: 12px; 
}
#NewTable tr {
    border-bottom: 1px solid #ddd;
}

#NewTable tr.header, #NewTable tr:hover {
    background-color: #f1f1f1;
    color: #0099CC;
}
.contianer h1{
    font-size: 30 px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ccc;
    color: #999;
    padding-top: 15px;
    margin-bottom: 30px;
}

.contianer a{
    font-size: 30px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ccc;
    color: #999;
    padding-top: 15px;
   margin-bottom: 30px;
  padding-left: 800px;
  text-decoration: none;
}

#mud{
  background-color: #0d47a1;
  color: #ffffff;
font-size: 20px;
}

.top h2{
  font-size: 20px;
}


.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-content{
font-size: 30 px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ccc;
    color: #999;
    padding-top: 15px;
    margin-bottom: 30px;
}

.modal-content button{
    background-color: #33b5e5;
  color: #ffffff;
  font-size: 20px;
  opacity: 0.9;
  cursor: pointer;
  border: none;

}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



.modal1 {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content1 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-content1{
font-size: 30 px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ccc;
    color: #999;
    padding-top: 15px;
    margin-bottom: 30px;
}

.modal-content1 button{
    background-color: #33b5e5;
  color: #ffffff;
  font-size: 20px;
  opacity: 0.9;
  cursor: pointer;
  border: none;

}
/* The Close Button */
.close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



.modal2 {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-content2{
font-size: 30 px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ccc;
    color: #999;
    padding-top: 15px;
    margin-bottom: 30px;
}

.modal-content2 button{
    background-color: #33b5e5;
  color: #ffffff;
  font-size: 20px;
  opacity: 0.9;
  cursor: pointer;
  border: none;

}
/* The Close Button */
.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal4 {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content4 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-content4{
font-size: 30 px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ccc;
    color: #999;
    padding-top: 15px;
    margin-bottom: 30px;
}

.modal-content4 button{
    background-color: #33b5e5;
  color: #ffffff;
  font-size: 20px;
  opacity: 0.9;
  cursor: pointer;
  border: none;

}
/* The Close Button */
.close4 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close4:hover,
.close4:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



.modal5 {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content5 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-content5{
font-size: 30 px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ccc;
    color: #999;
    padding-top: 15px;
    margin-bottom: 30px;
}

.modal-content5 button{
    background-color: #33b5e5;
  color: #ffffff;
  font-size: 20px;
  opacity: 0.9;
  cursor: pointer;
  border: none;

}
/* The Close Button */
.close5 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close5:hover,
.close5:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.modal6 {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content6 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-content6{
font-size: 30 px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ccc;
    color: #999;
    padding-top: 15px;
    margin-bottom: 30px;
}

.modal-content6 button{
    background-color: #33b5e5;
  color: #ffffff;
  font-size: 20px;
  opacity: 0.9;
  cursor: pointer;
  border: none;

}
/* The Close Button */
.close6 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close6:hover,
.close6:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




.card {
    padding-top: 3em;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #0099CC;
    text-align: center;
    cursor: pointer;
width: 110%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

.new_delivery p{

font-size: 20px;
}

.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: #3F729B;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 260px; 
    font-size: 28px; 
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 36em;
      
}
.col-md-4{
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
width: 100%;
min-height: 1px;

    }

.color-block {
    text-align: center;
    height: 130px;
    color: #fff;
    padding: 40px;
   background-color: #ff3547 !important;
}

.color-block1 {
    text-align: center;
    height: 130px;
    color: #fff;
    padding: 40px;
 background-color: #fb3 !important;
}

.color-block2 {
    text-align: center;
    height: 130px;
    color: #fff;
    padding: 40px;
   background-color: #00c851 !important;
}

.color-block3 {
    text-align: center;
    height: 130px;
    color: #fff;
    padding: 40px;
    background-color: #33b5e5 !important;
}

.outer {
    max-width: 30rem;
    margin: 0px auto;
    border: 1px solid #D8DFE6;
    border-radius: 4px;
    margin: 2rem auto;
    padding: 2rem;
    font-family: "Helvetica Nueu", "Helvetica", "Arial", "sans-serif";
}